<h1>Shop Component</h1>
<div class="search">

  <label for="pages">Number of page: </label>
  <input type="number" id="pages" name="pages" min="1" max="10" value={{page}} [(ngModel)]="page" />
  <br>
  <label for="limit">Products on page: </label>
  <input type="number" id="limit" name="limit" min="1" max="10" value={{limit}} [(ngModel)]="limit" />

</div>

<button (click)=" getProducts()">Get Products</button>

<div class="products">
  <div *ngFor="let product of products">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>price: {{ product.price }}</p>
    <p>{{ product.rating }}</p>
    <p>{{ product.stock }}</p>
    <p>{{ product.brand }}</p>
    <p>{{ product.category }}</p>
    <img src="{{product.images[0]}}" alt="{{ product.title }}">
  </div>
</div>
