<label for="">Server Name</label>
<br>
<!-- (input)="onUpdateServerName($event)" - INFO: One-Way-Databinding  -->
<!-- <input type="text" placeholder="Enter server name" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- INFO: [(ngModel)]="serverName" - Two-Way-Databinding  -->
<input type="text" placeholder="Enter server name" class="form-control" [(ngModel)]="serverName">
<br>
<button class="btn btn-primary" [disabled]="!allowNewSerwer" (click)="onCreateServer()">
  Add Server
</button>
<br>
<br>
<!-- INFO: The ngIf directive allows you to remove or, conversely, display an element under a certain condition. -->
<p *ngIf="serverCreated; else noServer">Server was created! Server name is {{ serverName }}</p>
<ng-template #noServer>
  <p *ngIf="!serverCreated">No server was created!</p>
</ng-template>
<!-- <p [innerText]="allowNewSerwer">{{ allowNewSerwer }}</p> -->
<!-- <p>{{ serwerCreationStatus }}</p> -->
<br>
<app-server></app-server>
