div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.task {
  display: flex;
  align-items: flex-start;
  min-width: 300px;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.completed {
  text-decoration: line-through;
  color: #999;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.edit,
.delete {
  color: white;
  width: 100px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: #2196F3;
}

.edit:hover {
  background-color: #0b7dda;
}

.delete {
  background-color: #f44336;
}

.delete:hover {
  background-color: #da190b;
}